.metadata/
.recommenders/
RemoteSystemsTempFiles/
bin/
*.class
*.json

vlife-timerbox-wechat-1.0.9.jar
vlife-timerbox-wechat.jar
vlife-timerbox-wechat-product.jar

.idea/
vlife-timerbox-wechat/logs/

server.ipr
server.iws
*.iml
vlife-timerbox-wechat/build/ant/
/tools/
vlife-timerbox-wechat/vlife-timerbox-wechat.eml
/vlife-timerbox-test/
/timberbox-framework-dao/
/timerbox-build-all/
/timerbox-test/
